.apidocs
  .pagewrap
    .sidebar
    .content
      .lib(id=docNavLinks.connect)
        section
          h1.lib-header=docNavLinks.connect
          .lib-doc
            include:markdown-it(html) ../docs/uport-connect-docs.md
      .lib(id=docNavLinks.js)
        section
          h1.lib-header=docNavLinks.js
          .lib-doc
            include:markdown-it(html) ../docs/uport-js-docs.md
:sass
  .lib {

    h2:nth-of-type(2) {
      display: none;
    }
    
    .lib-doc {
      padding-left: 1rem;

      > ul {
        padding-left: 1rem;
      }

      hr {
        margin: 3rem 0;
      }

      p, table, pre {
        margin-left: 1rem;
      }

      a code {
        font-size: 1.5rem;
      }
    }

    h1 {
      text-decoration: underline;
      
      &:first-child {
        margin-top: 0;
      }
    }

    dl, h2:first-child{
      display: none;
    }
  }
