.gitter
  .pagewrap
    .sidebar
      p Be respectful. Files bugs in github if you can validate with others. Beware of phishers. DO NOT PASTE ANY PRIVATE KEYS IN CHAT. 
    .content
      .loading-wrapper-parent
        .loading-wrapper
          .loader
        #gitterinject
:sass
  .gitter{
    .content{
      position: relative;
      padding: 0 !important;
    
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
