.gitter
  .pagewrap
    .sidebar
      p Be respectful. Files bugs in github if you can validate with others. Beware of phishers. DO NOT PASTE ANY PRIVATE KEYS IN CHAT. 
    .content
      +iframe('gitterinject')
:sass
  .gitter{
    .content{
      position: relative;
      padding: 0 !important;
    
      iframe {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        height: 800px;
      }
    }
  }
