.myapps
  .pagewrap
    //- .sidebar
      //- h2 My Apps
      //- ul
      //-   li
      //-     a(href='#')
      //-       span Application 1
      //-   li
      //-     a(href='#')
      //-       span Application 2
      //-   li
      //-     a(href='#')
      //-       span Application 3
      //-   li
      //-     a(href='#')
      //-       span Application 4
      //-   li
      //-     a(href='#')
      //-       span Application 5
    .content
      +iframe('appmanagerinject')
:sass
  .myapps {
    .pagewrap {
      //- height: 100%;
      flex: 1;
    }
    .content{
      display: flex;
      position: relative;
      padding: 0 !important;
      flex: 1;
      
      #appmanagerinject {
        //- height: 100%;
      }
    
      iframe {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        min-height: 100%;
        
        .myapps & {
          flex: 1;
          display: flex;
        }
      }
    }
  }
