.guides
  .pagewrap
    .sidebar
    .content
      .guide
        include ../overview/index
:sass
  .guide {
    
    h2 {
      padding-top: 1rem;
      border-top: 1px solid #333;
    }
    
    ul {
      padding-left: 50px; 
    }
    
    li {
     list-style: circle;
    }
      
    section {
      border-bottom: 1px solid #333;
      
      > a {
        display: block;
      }
      
      &:nth-child(1) {
      
        h1 {
          margin-top: 0;
        }
      }
    }
  }
