.portal
  .pagewrap
    .splash
      .inner-row
        .splash-focus
          .floatinglogo
          h1 Simple and secure login for your Ethereum app
          p.text-block Uport ID makes blockchain easy on desktop and mobile
    .area-white.alpha
      .inner-row
        .banner-box
          .banner-text
            h2 Start developing today
          .banner-steps
            ul
              li.alpha
                a(href='/guides.html#download-the-mobile-app')
                  img(src='img/download-uport.svg')
                  .step-wrap
                    .step-title Download uPort Mobile
                    .step-desc Download the uPort mobile app and create your identity on the blockchain.
              li.beta
                a(href='/guides.html#register-your-app')
                  img(src='img/register-app.svg')
                  .step-wrap
                    .step-title Register your app
                    .step-desc Go to uPort AppManager, connect using uPort mobile and register your applicaton.
              li.omega
                a(href='/guides.html#install-the-library/sdk')
                  img(src='img/install-sdk.svg')
                  .step-wrap
                    .step-title Install the libraries / SDK's
                    .step-desc Get started developing with uPort installing the required libraries and SDK's.
        .banner-text
          h2 Try Our Demo
          p After you've downloaded uPort, you can try our demo right away or simply review the code.
    .area-lightgray.beta
      .inner-row
        .example-box
          .table
            .thead
              .tr
                .td Code
                .td Result
            .tbody
              .tr
                .td
                  pre
                    | // Use this area to explain content of what 
                    | // the user is being shown.
                    | 
                    | 
                    code
                      | uport.requestCredentials({
                      |  requested: ['name', 'avatar', 'phone', 'country'],
                      |  notifcations: true
                      | })
                .td.example-demo
                  .example-demo-wrap
                    .state-1.choose
                      h3 Login with uPort
                      button.btn.sample-choice(onclick="viewSample()") View sample uPort ID
                      .or or
                      button.btn.connect-choice(onclick="loginRequest()") Connect with your uPort ID
                    .state-2a.sample
                      .status-text Status: Logged In
                      .status-user-box
                        img.user-pic(src='https://placekitten.com/75/75')
                        .user-name Phoebe Olson 
                      .user-data-text User Data
                      pre.user-data-payload
                        | {
                        |   "@context": "http://schema.org",
                        |   "@type": "Person",
                        |   "publicKey": "0x044c31ed1499dce76ee7711c72388fda86e6c1d4f9ecc105c4abe2f63cfe79638822dcf21b7c29b3d208fc01d4e0506d4e8f6234a912727a36cf347e61956d5f2f",
                        |   "publicEncKey": "Py+NXzHgacNMTzj9Ufe4S2KPuzR39dDMd1o+rWBJnmM=",
                        |   "name": "Christian Jeria"
                        | }
                    .state-2b1.qr-scan
                      h3 Scan QR with uPort Mobile app
                      #kqr
                    .state-2b2.results
                      .status-text Status: Logged In
                      .status-user-box
                        img.user-pic(src='#')
                        .user-name 
                      .user-data-text User Data
                      pre.user-data-payload

                    
        .banner-text.download
          h2 Download uPort
          p Download uPort to try our demo and beign testing within your app.
          a(href='https://itunes.apple.com/us/app/uport-id/id1123434510?mt=8')
            img(src='img/app-store-badge.svg' alt='ios app store')
          a(href='https://play.google.com/store/apps/details?id=com.uportMobile&hl=en')
            img(src='img/google-play-badge.svg' alt='andoird play store')
    .area-white.delta
      .inner-row
        h2 Why uPort?
        .explainer-section
          img.exp-graphic(src='img/simple-to-integrate.svg')
          .exp-text
            h3 Give users control over their identity and data.
            p Uport is Ethereum's identity platform. Self-sovereign, user centric keys and data management using Ethereum smart contracts. Support decentralized identity and user data. Self-sovereign identity platform built using Ethereum. User-centric data and reputation protocol.
    .area-lightgray.omega
      .inner-row
        .explainer-section
          .exp-text
            h3 User onboarding, single sign on, authentication, and signatures.
            p Uport will help you scale your app beyond the technical ethereum developer community to more mainstream users.Ethereum apps force users to manage private keys and deal with complexities like interacting with gas. Uport eliminates most of this complexity from the equation, making your app truly scalable. Support for blockchain or server apps. Uport Connect... Accept digital signatures from users. 2FA, sign terms,
          img.exp-graphic(src='img/gives-users-control.svg')
    .area-white.zeta
      .inner-row
        .explainer-section
          img.exp-graphic(src='img/hackproof.svg')
          .exp-text
            h3 Support for blockchain and client-server apps.
            p Your app likely requires users to securely interact with servers and smart contracts. That's why Uport supports users across Ethereum and client-server apps. We bridge Ethereum and the rest of the world.
    .content-shortcuts
      .inner-row
        img.logo(src='img/logo-white-2x.svg')
        ul
          li.guides
            .shortcut-wrap
              label Guides
            .list-wrap
              ul
                li
                  a(href='/guides.html#getting-started') Getting Started
                li
                  a(href='/guides.html#requesting-credentials') Requesting Credentials
                li
                  a(href='/guides.html#attesting-credentials') Attesting Credentials
                li
                  a(href='/guides.html#signing-transactions') Signing Transactions
          li.api-docs
            .shortcut-wrap
              label API Docs
            .list-wrap
              ul
                li
                  a(href='/apidocs.html#uport-connect') uport-connect
                li
                  a(href='/apidocs.html#uport-js') uport-js
                li
                  a(href='#uport-lite' disabled) uport-lite (coming soon)
                li
                  a(href='#uport-registry' disabled) uport-registry (coming soon)
          script.
            document.querySelector('header').style.background = 'none'
            document.querySelector('body').style.background = '#34344F'
:sass
  @import "node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
  $pair: 320px 794px;
  
  .portal {
    text-align: center;
    -webkit-overflow-scrolling: touch;

    .pagewrap {

      .area-white,
      .area-lightgray {
        position: relative;
        z-index: 2;
        overflow: visible;
      }

      .area-white { background: white; }
      .area-lightgray { background: #F6F6F8; }

      .area-white,
      .area-lightgray { * { color: #414141;} }

      .alpha {
        .banner-text  { 
          top: -120px;
          width: 500px; 
          @include breakpoint ($pair) {
            width: 100%; 
          }
        }
        .banner-box .banner-text { top: 0px;}
      }

      .delta,
      .omega,
      .zeta {
        
        h2 {
          padding-top: 4rem;

          @include breakpoint($pair) {
            padding-top: 1rem;
          }
        }
        
        .explainer-section {
          display: flex;
          justify-content: space-between;
          max-width: 850px;
          margin: auto;
          padding: 6rem 0;
          
          .exp-graphic {
            width: 250px;

            ~ .exp-text {
              @include breakpoint($pair) {
                margin-top: 2rem;
              }
            }
            
            @include breakpoint($pair) {
              width: 100%;
            }
          }
          
          .exp-text {
            width: 500px;
            text-align: left;
            
            p { margin-left: 0; }
            
            @include breakpoint($pair) {
              width: 100%;
            }
          }

          @include breakpoint($pair) {
            padding: 1rem 0;
            flex-direction: column;
          }
        }
      }

      .floatinglogo {
        position: fixed;
        top: -3%;
        left: 50%;
        margin-left: -30%; 
        background-image: url(img/logo-white-2x.svg);
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
        width: 400px;
        height: 360px;
        z-index: 1;
        opacity: .06;
      }

      .banner-box {
        border: 1px solid #D8D8E4;
        width: 1000px;
        margin: auto;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.11);
        position: relative;
        top: -170px;
        z-index: 2;
        background: white;
        padding: 2rem;

        @include breakpoint ($pair) {
          width: 100%; 
        }
      }

      .banner-text {
        position: relative;
        // top: -100px;
        // max-width: 450px;
        &.download {
          padding: 0 0 6rem 0;
          img{margin-right: 2rem;}
          p { margin: 2rem 0 ;}
        }
        margin: auto;
        h1 { }
      }

      .example-box {
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.11);
        width: 920px;
        margin: auto;
        position: relative;
        top: -100px;

        @include breakpoint($pair) {
          width: 100%;
        }

        .or {
          margin: 1rem 0;
        }
        .btn {
          // height: 27px;
          width: 250px;
          border-radius: 2px;
          background-color: #5C58CA;
          color: #FFFFFF;
          border-radius: 4px;
          padding: 1rem;
          border: none;
          font-size: 1rem;
        }
          .table { 
            width: 100%; 
            border: none;
            // overflow-x: hidden;
            pre, code, .thead { text-align: left; }
            pre { 
              margin: 0; 
              color: #939393;
              max-width: 100%;
            }
            .thead {
              .tr { 
                display: flex; 
                @include breakpoint($pair) {
                  flex-direction: column;
                }
              }
              .td{
                font-family: courier;
                background: white;
                border-bottom: 0.5px solid #DDDDE7;

                &:nth-child(2) { 
                  @include breakpoint($pair) {
                    display: none;
                  }
                }
              }
            }
            .tbody {
              .tr { 
                display: flex;
                @include breakpoint($pair) {
                  flex-direction: column;
                }
              }
              .td { 
                padding: 1rem !important; 
                background: white;
                width: 50%;
                min-height: 300px;

                .example-demo-wrap { 
                  overflow-x: hidden; 
                  pre { color: black; }
                }

                .state-2a,
                .state-2b1,
                .state-2b2 { display: none; }
                
                .status-text,
                .user-data-text { text-align: left; margin: 1rem 0;}
                .status-user-box { 
                  border-radius: 4px; 
                  border: 0.5px solid #DDDDE7;
                  display: flex;
                  align-items: center;
                  padding: 1rem;
                  margin: 1rem 0;
                }
                .status-text { margin-top: 0; }
                .user-name { font-weight: bold; font-size: 1.3rem; }
                .user-pic { 
                  border-radius: 50%; margin-right: 1rem; 
                  height: 75px;
                  width: 75px;
                  background: gray;
                }
                .user-data-payload {
                  overflow-y: scroll;
                  overflow-x: hidden;
                  height: 200px
                }

                code {
                  font-family: courier;
                  font-size: 14px;
                  width: 300px;
                  font-weight: bold;
                }

                &:first-child {
                  background: #F9F9F9;
                }

                @include breakpoint($pair) {
                  overflow-x: scroll;
                  min-height: 0;
                }
              }
            }
            .td:nth-child(1) { 
              width: 50%;
              @include breakpoint($pair) {
                width: 100%;
              }
            }
            .td:nth-child(2) { 
              width: 50%;
              @include breakpoint($pair) {
                width: 100%;
              }
            }
          }

      }

      h1 {
        font-size: 32px;
        width: 400px;
        margin: auto;
        @include breakpoint($pair) {
          width: 100%;
        }
      }
      h2, h3, h4 {
        margin-top: 0;
      }

      .splash{
        color: white;
        background: #34344F;
        position: relative;
        z-index: 1;
        .inner-row { margin-bottom: 200px !important; }
        
        .text-block { margin-bottom: 0; }

        .splash-focus{
          margin: auto;
          width: 80%;

          img { display: block; margin: auto;}
          img.logo { max-width: 200px; }
        }
      }
      
      .splash,
      .banner,
      .testdrive,
      .content-shortcuts,
      .area-white,
      .area-lightgray {
        padding: 3rem 5rem;
        
        @include breakpoint($pair) {
          padding: 5% 5% !important;
        }
      }

      .banner {
        background: #3A3942;
        color: white;
      }

      .banner-text {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }

      .text-block {
        max-width: 650px;
        margin: 0 auto 3em auto;
      }

      .banner-steps{

        li a {
          display: flex;
        }

        * {
          // color: white;
          text-align: left;
          text-decoration: none;
        }
      
        img {
          display: inline-block;
          height: 75px;
          min-width: 84px;
          margin-right: 1rem;
        }

        .step-wrap {
          display: inline-block;
        }
        
        .step-title {
          margin-bottom: 1rem;
          font-size: 1.3rem;
          
          @include breakpoint($pair) {
            font-size: 1rem !important;
          }
        }
        
        ul {
          display: flex;
          justify-content: space-between;
          padding: 0;
          
          @include breakpoint($pair) {
            flex-direction: column;
          }
        }
        
        li {
          margin: .5rem;

          @include breakpoint($pair) {
            margin: 0rem !important;
            flex: 1 !important;
            border-bottom: 1px solid #ccc;
            padding: 1rem 0;
          }

          // @include breakpoint($pair) {}

          .number {
            position: relative;
            border-radius: 50%;
            border: 5px solid white;
            width: 4rem;
            height: 4rem;
            text-align: center;
            margin: 0 auto 1rem auto;

            .number-text {
              position: relative;
              top: -.50rem;
              font-size: 3rem;
            }
          }
          
          .step-img {
            margin: 0 auto 1rem auto;
          }
        }
      }
      
      .content-shortcuts {
        
        * { 
          text-align: left;
          color: #FFFFFF;
        }

        .logo { 
          height: 150px;
          // background: gray;
        }

        .inner-row,
        ul {
          display: flex;
          li ,
          li * {
            display: block;
          }
        }

        .inner-row { 
          justify-content: space-between;
          > ul > li {
            margin-left: 2rem;
          }
        }

        *[disabled] {
          color: gray;
          &:hover {
            text-decoration: none;
            cursor: no-drop;
          }
        }
        
        .fa {
        font-size: 8rem;
        }

        img, label { display: block; }


        ul, li {
          margin: 0;
          padding: 0;
        }

        ul, li { 
          margin-left: 2rem; 
          ul, li {
            margin-left: 0; 
          }
        }

        > ul {
          display: flex;
          justify-content: center;
          
          > li {
            flex: 1;
            margin: 0 1rem;
          }
        }

        .shortcut-wrap {
          text-align: center;
        }

        .list-wrap {
          li {
            a {
              padding: 1rem 0;
              display: block;
              font-size: .8rem;
              font-weight: 100;
            }
          }
        }
      }
    }
  }