.portal
  .pagewrap
    .splash
      .splash-focus
        img.logo(src="img/logo-white-2x.svg")
        //- img.name(src="img/uport-name.png")
        p.text-block Self-sovereign ID enables you to collect verifications, log-in without passwords, digitally sign transactions, and interact with Ethereum applications.
    .banner
      .banner-text
        h1 Get started developing with Uport
        p.text-block uPort is a decentralized identity platform built on Ethereum. Explore our docs for more
      .banner-steps
        ul
          li.alpha
            a(href="/guides.html#download-the-mobile-app")
              .number
                span.number-text 1
              i.fa.fa-id-badge
              .step-desc Download the mobile app
          li.beta
            a(href="/guides.html#register-your-app")
              .number
                span.number-text 2
              i.fa.fa-id-card
              .step-desc Register Your App
          li.omega
            a(href="/guides.html#install-the-library/sdk")
              .number
                span.number-text 3
              i.fa.fa-laptop
              .step-desc Install the Libraries / SDK's
    .content-shortcuts
      ul
        li.guides
          .shortcut-wrap
            i.fa.fa-newspaper-o
            label Guides
          .list-wrap
            ul
              li
                a(href='/guides.html#getting-started') Getting Started
              li
                a(href='/guides.html#requesting-credentials') Requesting Credentials
              li
                a(href='/guides.html#attesting-credentials') Attesting Credentials
              li
                a(href='/guides.html#signing-transactions') Signing Transactions
        li.api-docs
          .shortcut-wrap
            i.fa.fa-book
            label API Docs
          .list-wrap
            ul
              li
                a(href='/apidocs.html#uport-connect') uport-connect
              li
                a(href='/apidocs.html#uport-js') uport-js
              li
                a(href='#uport-lite' disabled) uport-lite (coming soon)
              li
                a(href='#uport-registry' disabled) uport-registry (coming soon)
        //- li.tools
        //-   .shortcut-wrap
        //-     i.fa.fa-book
        //-     label Tools
        //-   .list-wrap
        //-     ul
        //-       li
        //-         a(href=links.truffle)
        //-           span Truffle
        //-       li
        //-         a(href=links.metamask)
        //-           span MetaMask
        //-       li
        //-         a(href=links.remix)
        //-           span Remix
        //-       li
        //-         a(href=links.mist)
        //-           span Mist
:sass
  @import "node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
  $pair: 320px 794px;
  
  .portal {
    text-align: center;
    
    .pagewrap {
      // flex: 1;
      // display: flex;
      // flex-direction: column;
      // overflow-y: scroll;
    }

    .splash{
      // flex-basis: 500px;
      background: #5756C3;
      color: white;

      .splash-focus{
        margin: auto;
        width: 80%;

        img { display: block; margin: auto;}
        img.logo { max-width: 200px; }
      }
    }
    
    .splash,
    .banner,
    .content-shortcuts {
      padding: 3rem 5rem;
      
      @include breakpoint($pair) {
        padding: 5% 5% !important;
      }
    }

    .banner {
      background: #3A3942;
      color: white;
    }

    .banner-text { padding-top: 40px;}

    .text-block {
      max-width: 650px;
      margin: 0 auto 3em auto;
    }

    .banner-steps{

      * {
        color: white;
        text-decoration: none;
      }
    
      .fa {
        font-size: 6rem;
        
        @include breakpoint($pair) {
          font-size: 4rem !important;
        }
      }
      
      .step-desc {
        margin-top: 2rem;
        font-size: 1.3rem;
        
        @include breakpoint($pair) {
          font-size: 1rem !important;
        }
      }
      
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
      }
      
      li {
        width: 25%;
        margin: 2rem;

        @include breakpoint($pair) {
          margin: 0rem !important;
          flex: 1 !important;
        }

        // @include breakpoint($pair) {}

        .number {
          position: relative;
          border-radius: 50%;
          border: 5px solid white;
          width: 4rem;
          height: 4rem;
          text-align: center;
          margin: 0 auto 1rem auto;

          .number-text {
            position: relative;
            top: -.50rem;
            font-size: 3rem;
          }
        }
        
        .step-img {
          margin: 0 auto 1rem auto;
        }
      }
    }
    
    .content-shortcuts {
      text-align: left;
      background: #eaeaea;

      *[disabled] {
        color: gray;
        &:hover {
          text-decoration: none;
          cursor: no-drop;
        }
      }
      
      .fa {
      font-size: 8rem;
      }

      img, label { display: block; }

      label {
        border-bottom: 3px solid #CCC;
      }

      ul, li {
        margin: 0;
        padding: 0;
      }

      > ul {
        display: flex;
        justify-content: center;
        
        > li {
          flex: 1;
          margin: 0 1rem;
        }
      }

      .shortcut-wrap {
          text-align: center;
      }

      .list-wrap {
        
        li {
          border-bottom: 1px solid #AAA;
          
          a {
            padding: 1rem 0;
            display: block;
          }
        }
      }
    }
  }
