script
  include ../../../node_modules/prismjs/prism.js
  include ../../../node_modules/kjua/dist/kjua.min.js
  include ../../js/segment.js
  include ../../js/sidecarSetup.js
script(src="https://unpkg.com/uport-connect/dist/uport-connect.min.js")
  
