script
  include ../../../node_modules/prismjs/prism.js
script
  include ../../../node_modules/kjua/dist/kjua.min.js
script(src="https://unpkg.com/uport-connect@0.7.0/dist/uport-connect.js")

// DO NOT COMBINE - BUILD ERRORS WILL HAPPEN
script(src="js/segment.js")
script(src="js/sidecarSetup.js")
script(src="js/script.js")
  
