include:sass ../../../node_modules/reset-css/reset.css
include:sass ../../../node_modules/prismjs/themes/prism.css
include:sass ../../../node_modules/font-awesome/css/font-awesome.min.css
include ../mixins/iframeloader
:sass
  @import "node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
  $pair: 320px 794px;

  ////////////////////
  // BASELINE
  ////////////////////

  html, body {
    height: 100%;
    overflow: hidden;
  }

  body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #555;
    font-size: 100%;
    line-height: 1.5;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body header *,
  body footer * {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: darkblue;
    &:hover {
      text-decoration: underline;
    }
  }
  
  li { list-style: none; }

  //////////////////////
  // GLOBAL FONT SIZES
  //////////////////////
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4,
  h5,
  h6 { font-size: 1rem; }

  p,
  span,
  a,
  b,
  code,
  textarea,
  input {
    font-size: 1rem;
  }

  a code {
    font-size: 1.5rem;
  }

  //////////////////////
  // GLOBAL MARGIN SIZES
  //////////////////////
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin: 1rem 0; }

  p,
  span,
  a,
  b,
  code,
  textarea,
  input {
    margin: 0;
  }

  p { 
    margin: 1rem 0 1rem 1rem; 
  }

  p > code,
  td > code {
    font-weight: bold;
    margin-top: -5px;
    vertical-align: top;
  }

  ////////////////////////////
  // Tables / Code / Iframes
  ////////////////////////////

  table {
    border-collapse: collapse;
    border: 1px solid #333;

    th, td {
      padding: 0 .5rem;
    }

    thead {
      th {
        text-align: left;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background: rgba(171, 189, 203, .3);
      }
    }
  }

  pre {
    margin-bottom: 2rem !important;
  }

  pre[class*="language-"], code {
    overflow-x: hidden;
  }

  iframe {
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
  }

  ////////////////////////////
  // Plugins
  ////////////////////////////
  .gitter-chat-embed-action-bar-item {
    display: none;
  }

  ////////////////////////////
  // HACKS
  ////////////////////////////
  
  // TODO: uncomment when footer goes in
  .footer { display: none !important; }

  ////////////////////////////
  // LOADING SPINNER
  ////////////////////////////

  .loading-wrapper-parent {
    position: relative;
    background: #ccc;
    width: 100%;
    margin-bottom: 2rem;

    .guides & {
      max-width: 95%;
    }
    .gitter & {
      margin-bottom: 0;
      height: 100%;
    }
    .myapps & {
      margin-bottom: 0;
    }
  }
  .loading-wrapper {
    position: absolute;
    left: calc(50% - 10rem);
    top: calc(50% - 10rem);

    .gitter & {
      top: calc(50% - 10rem - (40px*2));
    }
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
  }
  .loader {
    //- margin: 60px auto;
    font-size: 10px;
    position: relative;
    z-index: 1;
    text-indent: -9999rem;
    border-top: 2.5rem solid rgba(255, 255, 255, 0.2);
    border-right: 2.5rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 2.5rem solid rgba(255, 255, 255, 0.2);
    border-left: 2.5rem solid #aaa;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  ////////////////////////////
  // SITE CONTENT
  ////////////////////////////
  
  main {
    border-bottom: 1px solid #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    > * { display: none; }

    // &.portal .portal { display: flex; flex-direction: column; flex: 1;}
    &.portal .portal {
      overflow-y: scroll;
      display: block;
      .pagewrap { display:block; }
    }

    &.guides .guides, 
    &.apidocs .apidocs, 
    &.tools .tools, 
    &.myapps .myapps, 
    &.gitter .gitter { 
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    > *,
    > * > *,
    > * > * > * {
      overflow: hidden;
    }

    .pagewrap {
      display: flex;
      width: 100%;
      max-width: 1260px;
      margin: auto;
      justify-content: center;
      
      .content {
        max-width: 900px;
        overflow-y: scroll;
        flex: 1;

        .lib, .guide {
          background: white;
          padding: 2rem;
        }
      }
    }

    /*---- iFrame Pages ------ */
    .myapps,
    .gitter {

      .pagewrap { flex: 1; }

      .content{
        display: flex;
        flex: 1;
        position: relative;
        padding: 0 !important;
        overflow-y: auto;
        max-width: 1260px;

        #gitterinject {
          display: flex;
          flex: 1;
          height: 100%;
        }

        iframe {
          display: flex;
          flex-direction: row;
          text-align: center;
          width: 100%;
          min-height: 100%;

          .gitter & {
            flex: 1;
            display: flex;
          }
        }
      }
    }

    .sidebar {
      background: lightgray;
      padding: 1rem;
      min-width: 360px;
      overflow: auto;
      
      @include breakpoint($pair) {
        display: none !important;
      }

      code {
        display: none;
      }

      ul, li {
        margin: 0;
        padding: 0;
      }
      ul {margin-bottom: 1rem;}
      li {
        padding-left: 1rem;
        font-size: .9rem;
      }

      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: .5rem;
        
        &:first-child {
          margin-top: 0;
        }
      }
      span {
        font-size: .9rem;
      }

      ////////////////////
      // START : Same but diff sidebar DOM
      ////////////////////

      section > a > * {
        display: block;
        padding-left: 10px;
      }
      
      li.active, a.active {
        background: #595DC3;
        border-radius: 5px;
        * { color: white; }
        &:hover { 
          * { text-decoration: none; }
        }
      }

      section.active {
        > a {
          border-radius: 10px;
          * { color: white; }
          h1 { 
            background: #595DC3; 
            border-radius: 5px;
          }
          &:hover { 
            * { text-decoration: none; }
          }
        }
      }
    }
  }
