header.header
  .header-wrap
    .header-left
      a.logo-link(href='/')
        span uPort 
        span &nbsp;|&nbsp;
        span(style="font-weight:bold; font-size:1.2rem;") Developers
    .header-right
      nav.nav
        ul.nav-list
          li.nav-item.nav-guides
            a.nav-link(href='/guides.html')
              span Guides
          li.nav-item.nav-apidocs
            a.nav-link(href='/apidocs.html')
              span API Docs
          li.nav-item.nav-myapps
            a.nav-link(href='/myapps.html')
              span My Apps
          li.nav-item.nav-gitter
            a.nav-link(href='/gitter.html')
              span Help
          li.nav-item.nav-blog
            a.nav-link(href="https://medium.com/uport" target="_blank")
              span Blog
          li.nav-item.nav-github
            a.nav-link(href="https://github.com/uport-project" target="_blank")
              span Github
      //- script.
      //-   $("#menu").hide();
      //-   $("#menu-btn").click(function(){$("#menu").slideToggle();});

      //- #menu-btn
      //-   .menu-btn-line
      //-   .menu-btn-line
      //-   .menu-btn-line
      //- nav#menu
      //-   ul
      //-     li What we do
      //-     li About us
      //-     li Data sets
      //-     li Share your data
      //-     li Latest news
      //-     li Contact
      //-     li Subscribe

:sass
  .header {
    background: #34344F;
    z-index: 2;
    * { 
      color: #F8F8F9;
    }
  }
  .header,
  .footer {
    position: relative;
    justify-content: center;
    padding: 1.5rem 1rem;
    font-size: .8rem;

    // Reset
    * {
      margin: 0;
      padding: 0;
    }

    .header-wrap,
    .header-left,
    .header-right,
    .footer-wrap,
    .footer-left,
    .footer-right {
      display: flex;
      flex-direction: row;
      max-width: 1260px;
      margin: auto;
    }

    .nav {
      justify-content: flex-end;
      display: flex;
    }

    .header-right,
    .footer-right,
    .nav {
      flex: 1;
    }

    .nav {
      @include breakpoint($pair) {
        width: 100%;
      }
    }

    .logo-link {
      padding-right: 2rem;
      span:first-child{
        font-size: 1rem;
      }
      * {
        display: inline-block;
        vertical-align: baseline;
      }
    }

    .logo-link,
    .nav-item {
      // min-height: 50px;
    }

    .nav-item {
      padding: 0 1rem;
    }

    .nav-list,
    .nav-list li,
    .nav-list li a,
    .user-area,
    .user-area .sign-in-link,
    .legal-area a {
      //- height: 100%;
    }
    
    .nav-item {
      &.active {
        background: #3A3942;
        border-radius: 4px;
        * { color: white; }
        &:hover { 
          * { text-decoration: none; }
        }
      }
    }
    
    .nav-list li a,
    .sign-in-link,
    .legal-area a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .legal-area {
      display: flex;
      a {
        margin-left: 2rem;
      }
    }
  }

  /*Menu toggle button*/

  #menu-btn {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 3em;
    padding: 1.5em;
    border-radius: 100%;
    transition: all .2s ease-out;
    &:hover {
      cursor: pointer;
      .menu-line {
        background-color: #999999;
      }
    }
    &:active {
      box-shadow: 0 0 5px black;
      background-color: #524a88;
    }
  }

  /*Cursor on toggle button hover*/

  /*Changing color of hamburger lines on hover*/

  /*Styles for the hamburger lines*/

  .menu-btn-line {
    height: .5em;
    background-color: #00FFCA;
    margin-bottom: .5em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  /*No margin-bottom for last hamburger line.*/

  /*List container*/

  #menu {
    position: absolute;
    top: 7em;
    left: 1em;
    border: .5em solid #00FFCA;
    width: 10em;
    padding: 1em;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        left: 0;
        padding: .5em;
        color: #00FFCA;
        transition: all .3s ease-out;
        &:last-child {
          margin-top: .5em;
          padding-top: 1em;
          border-top: 1px solid #00FFCA;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        &:active {
          background-color: #00FFCA;
          color: rgba(52, 73, 94, 1);
        }
      }
    }
  }
