.demo-container {
    position: relative;
    background: #f9f9fa;
    background-size: auto, auto, cover, auto;
    width: 100%;
    height: 680px;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.demo-wrapper {
    margin: auto;
    position: relative;
    display: -webkit-box;
    min-height: 344px;
    max-height: 40vh;
    max-width:60vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    align-self: center;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 3px;
}

.v-separator {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    overflow: hidden;
    border-left: 3px solid #f2f2f2;
    padding: 0;
}

.left-demo {
    max-width: 600px;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.left-demo p {
    padding-top: 50px;
}

.demo-code h4 {
    color: #8986A0;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.demo-json {
    padding: 0;
    margin: 0;
    width: 100%;
}

.demo-json, pre[class*="language-"] {
    background: initial;
    color: initial;
    margin: 0;
    padding: 0;
    float: left;
    min-width: 100%;
}

.demo-json code, pre  {
    background: white;
}

.demo-step-img {
    width: 20%;
    margin: auto;
    padding-left: 10px;
}

.demo-code {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.demo-results-wrapper {


}

.demo-results {


}

.right-demo {
    max-width: 400px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.demo-qr-container {

}

.demo-qr  {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.demo-qr-text h3, h6 {
    text-align: center;
    color: #5c50ca;
}

.right-demo h4 {
    text-align: center;
    color: grey;
    margin: 0;
    padding-bottom: 10px;
}

.demo-button-container {
    padding: 10px;
    position: absolute;
}

.demo-button-container h2 {
    text-align: center;
    display: table;
    color: grey;
    padding-bottom: 30px;
}

.demo-step-wrap {
    width: 100%;
    height: 100%;
    display: table;
}

.demo-button {
    padding: 10px;
    display: table;
    margin-right: auto;
    margin-left: auto;

}

.demo-banner-link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration:none;
    font-weight: 400;
    font-size: initial;
    height: 50px;
    width: 200px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 3px;
}

.left-btn {
    background:  #7958d8;
    color: #f9f9fa;
}

.right-btn {
    background: white;
    color: #5c50ca;
}
