/* Theme customizations for code blocks */
pre, code {
    font-family: 'Source Code Pro', monospace;
}

pre > code.highlight {
    outline: .4em solid #91a2a3;
    outline-offset: .4em;
}

code[class*="language-"],
pre[class*="language-"] {
    background: #f9f9fa;
    color: #5c50ca;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
    color: #a4a1b5;
}

.token.tag,
.token.operator,
.token.number {
    color: #afa0fe;
}

.token.property,
.token.function {
    color: #827cff;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
    color: #728fcb;
}

tr {
    background: #f9f9fa;
}
td {
    padding: 3px;
}

/* Customizations for markdown */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}
h3 {
    font-size: 1rem;
    margin-top: 20px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}
h5 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.9;
    font-size: 16px;
}
