/* Theme customizations for code blocks */
pre, code {
    font-family: 'Source Code Pro', monospace;
}

pre > code.highlight {
    outline: .4em solid #91a2a3;
    outline-offset: .4em;
}

code[class*="language-"],
pre[class*="language-"] {
    background: #f9f9fa;
    color: #5c50ca;
}

pre language-javascript demo {
    color: #a4a1b5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
    color: #a4a1b5;
}

.token.tag,
.token.operator,
.token.number {
    color: #afa0fe;
}

.token.property,
.token.function {
    color: #827cff;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
    color: #728fcb;
}

tr {
    background: #f9f9fa;
}
td {
    padding: 3px;
}

/* Customizations for markdown */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}
h3 {
    font-size: 1rem;
    margin-top: 20px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}
h5 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.9;
    font-size: 16px;
}
a {
    color: #5c50ca;
}

.banner-left {
    color: #f9f9fa;
    margin: auto;
    display: table;
}

.banner-left-code {
    margin: auto;
    display: table;
}

.banner-left-title {
    display: table-row;
    width: 100%;
    height: 100%;
}

.banner-left-title h1 {
    margin-bottom: 25px;
}

.banner-left-buttons {
    display: table-row;
}

.banner-left-buttons a {
    /* margin-top: 50px; */
}


.banner-platform-button, .banner-started-button {
    float: left;
    text-decoration: none;
    display: table-cell;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.banner-platform-button {
    background: #7958d8;
    color: #f9f9fa;
    border: 2px solid #5c50ca;
    border-radius: 4px;

}

.banner-started-button {
    background:  #f9f9fa;
    border: 2px solid #5c50ca;
    border-radius: 8px;
    margin-left: 20px;
}

.banner-right {
    margin: auto;
    /* display: table; */
}

.banner-right-demo {
    width: 400px;
    height: 275px;
    margin: 0;
    padding: 0;
    display: table;
}

.banner-list {
    float: left;
    padding-left: 0;
    white-space:nowrap;
    list-style-type:none;
}

.banner-steps {
    border-radius: 8px;
    background: #f9f9fa;
    border: 2px solid #5c50ca;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.banner-link {
    padding:0.2em 1em;
    text-decoration:none;
    font-weight: 400;
    color: #7958d8;
}

.home-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #5c50ca;
  background-image: -webkit-linear-gradient(270deg, rgba(92, 80, 202, 0) 71%, #5c50ca), -webkit-linear-gradient(270deg, #afa0fe, rgba(92, 80, 202, 0)), url('../../images/Fingerprint-Swirl-2.svg'), -webkit-linear-gradient(270deg, #afa0fe, #5c50ca);
  background-image: linear-gradient(180deg, rgba(92, 80, 202, 0) 71%, #5c50ca), linear-gradient(180deg, #afa0fe, rgba(92, 80, 202, 0)), url('../../images/Fingerprint-Swirl-2.svg'), linear-gradient(180deg, #afa0fe, #5c50ca);
  background-position: 0px 0px, 0px 0px, -17px -247px, 0px 0px;
  background-size: auto, auto, cover, auto;
  background-repeat: repeat, repeat, no-repeat, repeat;
  background-attachment: scroll, scroll, fixed, scroll;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.headline-wrapper {
    background-color: transparent;
    position: relative;
    top: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width:75vw;
    margin: auto;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.demo-wrapper {
    /* background-color: transparent; */
    position: relative;
    top: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* width: auto; */
    /* max-width:75vw; */
    margin: auto;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 800px;
}

.demo-qr {
    min-width: 245px;
    height: 245px;
    margin: auto;
}

.demo {
    /* white-space: pre-wrap;       /\* css-3 *\/ */
    /* white-space: -moz-pre-wrap;  /\* Mozilla, since 1999 *\/ */
    /* white-space: -pre-wrap;      /\* Opera 4-6 *\/ */
    /* white-space: -o-pre-wrap;    /\* Opera 7 *\/ */
    /* word-wrap: break-word; */
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 275px;
    width: 400px;
}

.demo-json {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 275px;
    width: 400px;
}

.step-img {
    width: 105px;
}

.step-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.step-wrap {
    padding-left: 10px;
    width: 100%;
}

.step-title {
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

  .overview-list ol, ul{
      margin-left: 0;
      padding-right: 0;
      list-style-type: none;
  }

  .overview-list li {
      counter-increment: list-counter;
      list-style: inside;
      font-size: 16px;
  }

  .overview-list li::before {
      content: counter(list-counter);
      /* margin-right: 5px; */
      /* font-size: 80%; */
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .9em;
      padding: 2px 5px;
      border-radius: 15px;
      display: inline-block;
      width: 1em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  .overview-list1 ul{
      counter-increment: list-counter1 5;
  }

  .overview-list1 li {
      counter-increment: list-counter1;
      list-style: inside;
  }

  .overview-list1 li::before {
      content: counter(list-counter1) "a";
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .9em;
      padding: 2px 5px;
      border-radius: 15px;
      display: inline-block;
      width: 1em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  .overview-list2 ul{
      counter-increment: list-counter2 5;
  }

  .overview-list2 li {
      counter-increment: list-counter2;
      list-style: inside;
  }

  .overview-list2 li::before {
      content: counter(list-counter2) "b";
      background-color: #7958d8;
      color: #f9f9fa;
      font-weight: bold;
      font-size: .9em;
      padding: 2px 5px;
      border-radius: 15px;
      display: inline-block;
      width: 1em;
      margin-left: -1.8em;
      margin-top: .8em;
      margin-right: .3em;
      text-align: center;
      direction: rtl;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  td {
    align: left;
  }

  .overview-list p {
    font-size: .9em;
  }

  img[alt="small-diag"] {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    display: block;
  }

  img[alt="diag"] {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 600px;
  }

  hr {
    border: 0;
    height: 0;
    color: rgba(230, 224, 248);
    background-color: rgba(230, 224, 248);
    border-color: rgba(230, 224, 248);
    border-top: 1px solid;
  }

/* Media queries for index page */
@media (max-width: 767px) {

    .headline-wrapper {
        display: table;
        flex: 0;
        /* flex-direction: column; */
        padding: 0px;
        margin: 5px;
    }

    .home-hero {
        height: 90vh;
    }

    .step-img {
        width: 80%;
    }

}

@media (max-width: 600px) {
    .headline-wrapper {
        display: table;
        margin: auto;
    }

    .home-hero {
        height: auto;
    }

    .step-img {
        width: 20%;
        margin: auto;
        padding-left: 10px;
    }

    .smaller {
        width: 16%;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
    }

    .step-title {
        font-weight: 400;
        font-size: initial;
    }

    .step-wrap {
        padding-left: 10px;
        width: 100%;
    }

    .banner-list {
        width: 290px;
        white-space: initial;
    }

    .banner-steps {
        margin: auto;
        height: 100px;
    }

    .banner-started-button {
        margin-top: 10px;
        margin-left: 0px;
    }


}

/* /\* Large desktop *\/ */
/* @media (min-width: 1200px) { ... } */

/* /\* Portrait tablet to landscape and desktop *\/ */
/* @media (min-width: 768px) and (max-width: 979px) { ... } */

/* /\* Landscape phone to portrait tablet *\/ */
/* @media (max-width: 767px) { ... } */

/* /\* Landscape phones and down *\/ */
/* @media (max-width: 480px) { ... } */
