extends layouts/layout-template

block head-end
  include partials/blocks/head-end

block content
  include partials/blocks/header
  main.main.gitter
    include partials/tabs/gitter
  include partials/blocks/footer

block body-end
  include partials/blocks/body-end
