extends _layouts/home

block head_end
	link(rel="stylesheet" href="docs-v2/css/style.css")

block content
	include _partials/header
	include _partials/main
	include _partials/footer

block body_end
	script(type="text/javascript" src="docs-v2/js/script.js")
	
