doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet")
    block head-end
  body
    block content
    block body-end
