.apidocs
  .pagewrap
    .sidebar
      section
        h2 uport-connect
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 uport-lite
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 uport-js
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 uport-registry
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
    .content
      include:markdown-it uport-connect-api.md
