footer.footer
  .footer-wrap
    .footer-left
      a.logo-link(href="#")
        .logo-group
          img.logo-img(src="#")
          span | Uport.me
    .footer-right
      nav.nav
        ul.nav-list
          li.nav-item
            a.nav-link(href="#")
              span Bug Bounty
          li.nav-item
            a.nav-link(href="#")
              span Decentrailized Indentity Foundation
          li.nav-item
            a.nav-link(href="#")
              span Github
      .legal-area
        a.tos(href="#")
          span Terms of Service
        a.privacy(href="#")
          span Privacy Policy
