.guides
  .pagewrap
    .sidebar
      section
        h2 Getting Started
        ul
          li
            a(href='#')
              span Download the Mobile App
          li
            a(href='#')
              span Create your Identity
          li
            a(href='#')
              span Register your App
          li
            a(href='#')
              span Install the Library/SDK
          li
            a(href='#')
              span Add your Keys
      section
        h2 Requesting Credentials
        ul
          li
            a(href='#')
              span Calling the Method
          li
            a(href='#')
              span Requesting specific crednetials
          li
            a(href='#')
              span Enabling Push Notifications
          li
            a(href='#')
              span Logging in via Desktop (web)
          li
            a(href='#')
              span Custom QR Styling
          li
            a(href='#')
              span Logging in via Mobile (web)
          li
            a(href='#')
              span Logging in via Mobile (sdk)
      section
        h2 Attesting Credentials
        ul
          li
            a(href='#')
              span Calling the Method
          li
            a(href='#')
              span Attesting a credential
          li
            a(href='#')
              span Setting an expiration date
          li
            a(href='#')
              span Attesting multiple credentials
      section
        h2 Signing Transactions
        ul
          li
            a(href='#')
              span Blahhhh
          li
            a(href='#')
              span Blahhhh
          li
            a(href='#')
              span Blahhhh
          li
            a(href='#')
              span Blahhhh
    .content
      h3 Hello
      hr 
      p sdkjasd kajsdh jashdkjsahd kjasdkjsahd jkhasdjk hasjkdhajsdhjasd jsahdjkashdjha jdhasjd jkasdh kjasdjashd kjasdkjhasjkdhasjkd kjasdjhdkjhasdhajsk djasdjkasdhjh djkasdjkhasdjhsadj hsadhjsfjsfghdgfhsdfhfgdfjhg hjds fjhdsfjgdf sdfjgsdjhfghj fgf gjhsdgf jhsdgfhgsd fgsdhfgshjd fgjdhsfgdsgfjh gsdfjhg sdjhfgjds fg
      
