header.header
  .header-wrap
    .header-left
      a.logo-link(href="#")
        .logo-group
          img.logo-img(src="#")
          span | Developers
    .header-right
      nav.nav
        ul.nav-list
          li.nav-item
            a.nav-link(href="#guides")
              span Guides
          li.nav-item
            a.nav-link(href="#apidocs")
              span API Docs
          li.nav-item
            a.nav-link(href="#tools")
              span Tools
          li.nav-item
            a.nav-link(href="#myapps")
              span My Apps
          li.nav-item
            a.nav-link(href="#gitter")
              span Gitter
          li.nav-item
            a.nav-link(href="https://github.com/uport-project")
              span Github
      .user-area
        a.sign-in-link(href="#")
          span Sign In
        .user
          img.user-pic(src="#")
          .user-menu
            ul
              li.user
                b.user-name Jeff Scott Ward
                span.user-addr 0x9239812437981247
              li.log-out
                a(href="#") Log Out
