.myapps
  .pagewrap
    .sidebar
      section
        h2 My Apps
        ul
          li
            a(href='#')
              span Application 1
          li
            a(href='#')
              span Application 2
          li
            a(href='#')
              span Application 3
          li
            a(href='#')
              span Application 4
          li
            a(href='#')
              span Application 5
