.portal
  .banner
    .banner-text
      h1 uPort Documentation
      p.text-block uPort is an open source software project to establish a global, unified, sovereign identity system for people, businesses, organizations, devices, and bots.
    .banner-steps
      ul
        li.alpha
          .number
            span.number-text 1
          img.step-img(src="#")
          .step-desc Download the Mobile Wallet
        li.beta
          .number
            span.number-text 2
          img.step-img(src="#")
          .step-desc Register Your App
        li.omega
          .number
            span.number-text 3
          img.step-img(src="#")
          .step-desc Install the Libraries / SDK's
  .content-shortcuts
    ul
      li.guides
        .shortcut-wrap
          img(src="#")
          label Guides
        .list-wrap
          ul
            li
              a(href='#')
                span Getting Started
            li
              a(href='#')
                span Requesting Credentials
            li
              a(href='#')
                span Attesting Credentials
            li
              a(href='#')
                span Signing Transactions
      li.api-docs
        .shortcut-wrap
          img(src="#")
          label API Docs
        .list-wrap
          ul
            li
              a(href='#')
                span uport-connect
            li
              a(href='#')
                span uport-js
            li
              a(href='#')
                span uport-lite
            li
              a(href='#')
                span uport-registry
      li.tools
        .shortcut-wrap
          img(src="#")
          label Tools
        .list-wrap
          ul
            li
              a(href='#')
                span Truffle
            li
              a(href='#')
                span MetaMask
            li
              a(href='#')
                span Remix IDE
            li
              a(href='#')
                span Mist
  .whitepaper
    img(src='#')
    h2 Read the Whitepaper
    p.text-block uPort is an open source software project to establish a global, unified, sovereign identity system for people, businesses, organizations, devices, and bots.
    a.button(href="whitepaper.uport.me") Download
