.tools
  .pagewrap
    .sidebar
      section
        h2 Truffle
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 Metamask
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 Remix IDE
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
      section
        h2 Mist
        ul
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
          li
            a(href='#')
              span Blah blah blah blah
