/*	FONTS
------------------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', Arial, sans-serif, ;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
}


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

body header *,
body footer * {
  display: inline-block;
  vertical-align: middle;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: darkblue;
  &:hover {
    text-decoration: underline;
  }
}
li { list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.apidocs h2:nth-of-type(2) {
  display: none;
}

p > code,
td > code {
  font-size: 1.2rem !important;
  padding: .2rem .3rem;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border: 1px solid #333;

  th, td {
    padding: 0 .5rem;
  }

  thead {
    th {
      text-align: left;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: rgba(171, 189, 203, .3);
    }
  }
}

pre {
  margin-bottom: 2rem !important;
}

/* ----- Plugins ------ */
.gitter-chat-embed-action-bar-item {
  display: none;
}
