.guide {
  background: white;
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    text-decoration: underline;
  }

  h1 ~ *:not(h1) {
    margin-left: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
