.guide {
  background: white;
  padding: 1rem;

  section {
    border-bottom: 1px solid #333;
    > a {
      display: block;
    }
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  h1 ~ *:not(h1) {
    margin-left: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
