.sidebar {
  background: lightgray;
  padding: 1rem;
  width: 260px;
  overflow-y: scroll;

  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {margin-bottom: 1rem;}
  li {padding-left: 1rem;}

  h2 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  span {
    font-size: .9rem;
  }
}
