.tools{
  .pagewrap{
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
       ul {
         display: flex;
         flex-wrap: wrap;
         li {
           flex-basis: 50%;
           text-align: center;
           padding: 0;
           max-width: 22rem;
           p {
             text-align: left;
           }
           a {
            padding: 1rem;
            display: block;
             img {
              //  display: block;
               max-width: 8rem;
               max-height: 8rem;
             }
             &:hover {
                text-decoration: none;
                background: #ccc;
                border-radius: .5rem;
             }
           }
         }
       }
    }
  }
}
